.categories-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-around;
}

.categories-view__card {
    width: 400px;
    height: 400px;
    margin: 25px 0;
}

.categories-view__loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
