.item-details-view {
    height: 100%;
}

.item-details-view__content {
    width: 100%;
    display: flex;
}

.item-details-view__picture {
    flex: 1;
    min-width: 0;
    min-height: 0;
    flex-basis: 70%;
    background: plum;
}

.item-details-view__controls {
    flex: 1;
    min-width: 0;
    min-height: 0;
}
