.header-cart {
    border: 1px solid black;
    width: 190px;
    height: 60px;
    position: relative;
    user-select: none;
}

.header-cart__title {
    cursor: pointer;
}

.header-cart__cart-dialog {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
